        <!-- Title page -->
        <section id="opet1" class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/bg-01.jpg');">
            <h2 class="ltext-105 cl0 txt-center">
                Home 
            </h2>
        </section>

    <!-- Slider -->
    <section id="opet" class="section-slide">
            <div class="wrap-slick1">
                <div class="slick1">
                    
                    <div class="item-slick1" style="background-image: url(assets/images/slide-02.jpg);">
                        <div class="container h-full">
                            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                                <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                                    <span class="ltext-101 cl2 respon2">
                                        Men New-Season
                                    </span>
                                </div>
                                    
                                <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                        Jackets & Coats
                                    </h2>
                                </div>
                                    
                                <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                                    <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                   
                </div>
            </div>
        </section>




<!-- Banner -->
<div id="opala" class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
            <h2 class="naslov">Our Offer</h2>
        <div class="row">
           
            <div class="col-md-6 col-xl-3 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-01.jpg" alt="IMG-BANNER">

                   
                        <div class="block1-txt-child1 flex-col-l">
                            <span id="pom" class="block1-name ltext-102 trans-04 p-b-8">
                                Women Collection
                            </span>

                           
                        </div>

                   
                </div>
            </div>

            <div class="col-md-6 col-xl-3 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-02.jpg" alt="IMG-BANNER">

                   
                        <div class="block1-txt-child1 flex-col-l">
                            <span id="pom" class="block1-name ltext-102 trans-04 p-b-8">
                                Men Collection
                            </span>

                        </div>

                       
                   
                </div>
            </div>

            <div class="col-md-6 col-xl-3 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-06.jpg" alt="IMG-BANNER">

                  
                        <div class="block1-txt-child1 flex-col-l">
                            <span id="pom" class="block1-name ltext-102 trans-04 p-b-8">
                                Kids Collection
                            </span>

                        </div>
                   
                </div>
            </div>

            <div class="col-md-6 col-xl-3 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-03.jpg" alt="IMG-BANNER"/>

                   
                        <div class="block1-txt-child1 flex-col-l">
                            <span id="pom" class="block1-name ltext-102 trans-04 p-b-8">
                                Sports Collection
                            </span>

                        </div>
                   
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed consectetur erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam maximus mauris sit amet odio convallis, in pharetra magna gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut mauris ligula, volutpat in sodales in, porta non odio. Pellentesque tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin at gravida ante. Mauris auctor purus at lacus maximus euismod. Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero iaculis.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p id="pasus" class="stext-114 cl6 p-r-40 p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                        </p>

                        <span id="pasus" class="stext-111 cl8">
                            - Steve Job’s 
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="assets/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	