<!-- Title page -->
<section id="opet" class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Admin Panel / Brands
    </h2>
</section>

  
<div class="table-responsive">
    <table id="tabelac">
      <thead>
        <tr>
            <th colspan="5">All Brands</th>
        </tr>  
        <tr>
          <th scope="col">Brand Id</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Created At</th>
          <th scope="col">Brand Image</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of brands">
           
            <td>
                <h5>{{ item.id }}</h5>
              </td>
            <td>
            <h5>{{ item.brand_name }}</h5>
          </td>
          <td>
            <h5>{{ item.created_at }}</h5>
          </td>
          <td>
            
                <img class="brand78001" [src]="dom.bypassSecurityTrustUrl('http://localhost:8000/images/' + item.brand_image)" alt=""/>
               
            

          </td>
          <td>
            <button
            id="lia"
              href="#"
              class="btn btn-danger waves-effect btn-xs"
              (click)="deleteBrand(item.id)"
            >
              Delete
            </button>
          </td>
        </tr>
        
        
      </tbody>

    
    </table>

    
   
  </div>

 
  <section id="geljo" class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form [formGroup]="insertBrandForm" >
                    
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                       Insert Brand
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Brand Name'" formControlName="brand_name" name="brand_name" placeholder="Brand Name">
                        
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Brand Image &nbsp;&nbsp;&nbsp;<br><br>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="file" (change)="onFileSelect($event)"  name="brand_image" >
                        
                    </div>
                  
                

                    <button type="button" (click)="insertBrand()" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                    Insert
                    </button>
                </form>
                <div id="ponka" *ngIf="errors" class="alert alert-danger">{{errors}}</div>
            </div>

           
        </div>
    </div>
</section>	

