<!-- Title page -->
<section id="opet" class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Author
    </h2>
</section>
<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div id="oj" class="p-r-45 p-r-0-lg">
						<!--  -->
						
							<img class="ja" src="assets/images/nikola.jpg" alt="IMG-BLOG">

							
						

						<div class="p-t-32">
							

							<h4 class="ltext-109 cl2 p-b-28">
								Something about Author
							</h4>

							<p id="pasus23" class="stext-117 cl6 p-b-26">
								<i class="fa fa-info-circle"></i> Hello, my name is Nikola Kalincevic and I'm 22.
        I live in Obrenovac, small town near Belgrade.
        I'm studying Web Programming at ICT College.<br>
        This Website is a Graduation Project for the end of studying. 
                            </p>
                            
                            <br>
           <i class="fa fa-envelope"></i>
           <span id="pasus" class="paske"> kalincevicnikola8@gmail.com</span><br><br>
           <i class="fa fa-map-marker"></i>
           <span id="pasus" class="paske" > &nbsp;Obrenovac - Serbia </span><br><br>
           <i class="fa fa-pencil" ></i>
           <span id="pasus" class="paske" > ICT College - Belgrade</span><br><br>

							
						</div>

					

						
						

						
						
					</div>
				</div>
			</div>
		</div>
	</section>	
